body {
	background-color: #30323D;
	display: flex;
	flex-direction: column;
}
p {
	margin: 10px;
}

.header {
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #CDD1C4;
}

.score {
	display: flex;
	justify-content: center;
	font-size: 20px;
	color: #CDD1C4;
}

.icon-container {
	display: flex;
	justify-content: center;
	color: #5C80BC;
	font-size: 26px;
}

.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	display: flex;
	border: 3px solid #5C80BC;
	background-color: #CDD1C4;
	height: 250px;
	width: 250px;
	border-radius: 25px;
	margin: 25px;
}

#results, #final-score {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
	color: #E8C547;
}
